name: ML Pipeline CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Prepare Test Data
      run: |
        mkdir -p data
        cp tests/sample_data.csv "data/Hotel Reservations.csv"
        echo "Sample data copied to data/Hotel Reservations.csv"

    - name: Run ML Pipeline
      run: |
        python main.py

    - name: Verify Model Artifact
      run: |
        if ls models/*.joblib 1> /dev/null 2>&1; then
          echo "Model file found."
        else
          echo "Model file NOT found!"
          exit 1
        fi
